<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>在庫管理一覧</title>
</head>
<body>

<!-- header -->
	<header>
		<!-- 	タイトル -->
		在庫管理一覧<br>
		<!-- 	/タイトル -->

		<!-- 	ユーザーのコントローラー -->
		<a href="#">戻る</a> <br> <a href="#">ログアウト</a><br>
		<!-- 	/ユーザーのコントローラー -->

		<!-- 	一覧ボタンの表示 -->
		<table align="right">
			<tr>
				<th><a href="/01_admin">本一覧</a></th>
				<th><a href="/04_stock">在庫管理一覧</a></th>
				<th><a href="/02_user_information">ユーザー情報一覧</a></th>
				<th><a href="/05_history">アクセス履歴一覧</a></th>
				<th><a href="/03_Inquiry">問い合わせ一覧</a></th>
			</tr>
		</table>
		<!-- 	/一覧ボタンの表示 -->

		<br clear="all">

		<!-- 	検索ボタンの表示 -->
		<table align="right">
			<tr>
				<th><a href="#">貸出中のみ</a></th>
				<th><a href="#">予約済み</a></th>
				<th><a href="#">アクセス制限</a></th>
				<th><form>
						<input type="text">
					</form></th>
				<th>検索</th>
			</tr>
		</table>
		<!-- 	/検索ボタンの表示 -->

		<!-- 	水平線 -->
		<br>
		<hr>
		<!-- /水平線 -->

	</header>
	<!-- /header -->
</body>
</html>