<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/user_edit.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>ユーザー情報編集</title>
</head>

<body>
    <header>
        <h1>ELBOOK</h1>
        <div class="selectdiv">
            <label>
                <select>
                    <option selected> アカウント&リスト </option>
                    <option value="">ユーザー新規登録</option>
                    <option value="">書籍新規登録</option>
                    <option value="">ユーザー一覧</option>
                    <option value="">お問い合わせ</option>
                    <option value="">ログアウト</option>
                </select>
            </label>
        </div>
        <nav>
            <ul>
                <li><a href="">貸出リスト</a></li>
                <li><a href="">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>
    ​
    <div class="Form">
        <h2 class="title"><i class="fas fa-user"></i> ユーザー情報編集</h2>
    </div>
    ​
    <div class="Form-Item">
        ​
        <div class="inline-block">
            <label>ユーザー名<span class="">※必須</span></label>
            <input class="Form-input-Item" type="text" name="first-name" maxlength="10" value="">
        </div>
        <div class="inline-block">
            <label>メールアドレス<span class="">※必須</span></label>
            <input class="Form-input-Item" type="text" name="first-name" maxlength="10" value="">
        </div>

        <div class="inline-block">
            <label>パスワード<span class="">※必須</span></label>
            <input class="Form-input-Item" type="text" name="first-name" maxlength="10" value="">
        </div>
        ​
        <div class="inline-block button">


            <button class="Send-Button">送信する</button>
            <button class="delete-Button">削除する</button>
        </div>

    </div>
</body>

</html>